body{
    background: linear-gradient(90deg, #52c4df, #ad55c1, #B223F5);
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    /* width: 70%;*/
    position: relative;
    width: 600px;
    margin: 6% auto;
    background: black;
    opacity: 0.91;
    background-size: cover;
    left: center;
    top: center;
    box-shadow: 0px 4px 16px rgba(189, 76, 76, 0.5);
    border-radius: 50px;
}




.ventana{
    background: rgb(83, 83, 83);
    width: 600px;
    height: 500px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 50px;
    position:absolute;
    left: center;
    right: center;
    top: 80px;
}


#styleCREO{
    color: rgb(255, 94, 2);
    font-weight: bold;
    width: center;
    background: #3e3e3e;
    border-radius: 8px;
}

.cerrarsin{
    width: 50px;
}

.cerrar{
    position:absolute;
    right: 16px;
    top: 8px;
}


#asddsa{
    color: red;
}

#TEST{
    color: rgb(255, 255, 255);
    cursor:crosshair;
    font-size:50px;
    font-weight:bold;
}

#test2{
    color: gray;
    font-size: 30px;
    margin: -20px;
    width: center;
}
#test3{
    color: gray;
    font-size: 27px;
    margin: 6px;
    width: center;
}
#test4{
    color: gray;
    font-size: 30px;
    margin: -19px;
    width: center;
}

#styleofloisy{
    color: rgb(197, 197, 68);
    width: center;
    cursor:progress;
}

#iconloisy{
    border: 3px solid #000000;
    width: 50px;
    border-radius: 50px;
}

#dbis{
    color: white;
}

#article{
    color: yellow;
}

#video{
    position:static;
}

#vopciones{
    color:green;
}

#iniciarboton{
    letter-spacing: 1px;
    text-transform: uppercase;
    background: gold;
    color: green;
    box-shadow: 2px 2px 2px black;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

#pantallaComple{
    letter-spacing: 1px;
    text-transform: uppercase;
    background: gold;
    color: green;
    box-shadow: 2px 2px 2px black;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 1.2rem;
    cursor: pointer;
}

#TEST{
    font-style:sans-serif;
}

.button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    padding: 20px 40px;
    border-radius: 8px;
    color: #212121;
    font-size: 28px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
  }

.button-3 {
    color: #ff6146;
    border: 3px solid #68DEA0;
    background-image: linear-gradient(to top, #00fff2 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: 0% 0%;
  }
  
  .button-3:hover {
    color: #FFF;
    background-position: 0% 100%;
  }

  #iconyt{
      border: 3px solid #000000;
      width: 125px;
      border-radius: 50px;

  }
  
.logos{
    width: 100px;
}


.discordlogo {
    width: 80px;
    border-radius: 14%;
    color: #3f3f3f;
    background-image: linear-gradient(to top, #3d3d3d 50%, transparent 50%);
    background-size: 100% 200%;
    left: center;
    top: center;
    background-position: 0% 0%;
  }
  
  .discordlogo:hover {
    color: #FFF;
    background-position: 0% 100%;
    width: 82px;
  }
.textblack{
    color: black;
}

#logodiscord{
    left: 50px;
    right: 50px;
}

#textdiscord{
    color: rgb(4, 120, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size:85px;
    cursor:vertical-text;
    font-weight: bold;
}

.tranqui{
    color: #c5c5c5;
    font-size: 30px;
    margin: -20px;
    width: center;
}

#clicdirectodiscord{
    color: white;
    margin: -40px;
    width: center;
}

#textyoutube{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    cursor: vertical-text;
    font-weight: bold;
}

#IsmatronsDev{
    color: rgb(194, 255, 103);
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    font-family:monospace;
}
