.button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  
    padding: 10px 20px;
    border-radius: 8px;
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
    
  }
*{
    user-select: none;
}

  body{
    background: linear-gradient(110deg, #ff0000cc, #ff00e6cc, #04ff53cc, #57f3b2, #1de840, #938bff,#1ddde8, #dd00f3,#dd00f3);
    background-size: 1800% 1800%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-animation: rainbow 17s ease infinite;
    -z-animation: rainbow 17s ease infinite;
    -o-animation: rainbow 17s ease infinite;
       animation: rainbow 17s ease infinite;
}

@-webkit-keyframes rainbow{
0%{background-position: 0% 82%}
50%{background-position: 100% 19%}
100%{background-position: 0% 82%}
}

@-moz-keyframes rainbow{
0%{background-position: 0% 82%}
50%{background-position: 100% 19%}
100%{background-position: 0% 82%}
}
@-o-keyframes rainbow{
0%{background-position: 0% 82%}
50%{background-position: 100% 19%}
100%{background-position: 0% 82%}
}

#cosas{
  /* width: 70%;*/
  position: relative;
  padding: 20px;
  width: 600px;
  margin: 3% auto;
  background: black;
  opacity: 0.91;
  background-size: cover;
  left: center;
  top: center;
  box-shadow: 0px 4px 16px rgba(189, 76, 76, 0.5);
  border-radius: 50px;
}

.button-3 {
    color: #ffffff;
    border: 3px solid #de6868;
    background: red;
    background-size: 100% 200%;
    background-position: 0% 0%;
  }
  
  .button-3:hover {
    color: #FFF;
    background: red;
  }

  .ventana {
    background-color: rgba(49, 49, 49, 0.8);
    width: 30%;
    color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 33%;
    top: 30%;
    display: none;
}

  #ismatronspack{
    font-size: 35px;
    color: rgb(255, 196, 0);
  }
  #infover{
    font-size: 20px;
    color: rgb(189, 189, 189);
  }
  #options{
    font-size: 18px;
    color: rgb(168, 168, 168);
  }

  .botonabrir{
    appearance: none;
    background: rgb(92, 92, 92);
    border: none;
    outline: none;
    border-radius: 2px;
    border: 3px solid #696969;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
  }

  #boton{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    color: #ffffff;
    padding: 25px 55px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    margin: 0 15px;
    cursor: pointer;
    background-position: 0% 0%;

    box-shadow: 0 0 5px #fff,
                0 0 50px #313131cc;
  }
  #boton:hover {
    transform: scale(1.05);
    transition: 0.4s;
    border: none;
    background: black;
    padding: 25px 55px;
    font-size: 24px;
    border-radius: 25px;
    background: linear-gradient(110deg, #313131cc, #727272cc, #adadadcc, #57f3b2, #1de840, #2b1de8,#1ddde8, #dd00f3,#dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 14s ease infinite;
         -z-animation: rainbow 14s ease infinite;
         -o-animation: rainbow 14s ease infinite;
            animation: rainbow 14s ease infinite;
  }

  @-webkit-keyframes rainbow{
    0%{background-position: 0% 82%}
    50%{background-position: 100% 19%}
    100%{background-position: 0% 82%}
  }

  @-moz-keyframes rainbow{
    0%{background-position: 0% 82%}
    50%{background-position: 100% 19%}
    100%{background-position: 0% 82%}
  }
  @-o-keyframes rainbow{
    0%{background-position: 0% 82%}
    50%{background-position: 100% 19%}
    100%{background-position: 0% 82%}
  }

