body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none;
}

.container {
    background-color: #212121;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    color:white;
}

h1{
    font-size:34px;
    font-weight:800;
    letter-spacing:1px;
    background: linear-gradient(to right, rgb(0, 255, 136), rgb(0, 242, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
h2 {
    margin: 0 0 20px;
    color:white;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #3ea6ff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#canvas {
    border: 1px solid #ddd;
    margin-top: 20px;
}

.version {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #ffffff;
}

.black-mode {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    color: #f6f6f6;
}
